body{
  background-color:#E7E9EB ;
  font-size: 15px;
  font-family: Cairo;
  margin: 0;
  height: 900px;
}

/* start of navbar*/
nav {
  background-color: #282A35;
  display: flex;
  justify-content: space-between;

}

/*styling pages' list*/
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;

}

nav ul li {
  font-size: 20px;
}

/*styling links and hover*/
a {
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-left: 5px;
  border-radius: 10px;

}

nav ul a:hover, nav ul a.active {
  background-color: #00cc66;
  color: white;

}

/*logo on the left of navbar*/
#logo {
  height: 70px;
  width: 70px;
  margin: 10px 0 0 5px;

}

/*div for list of pages on right of nav*/
.pages {
  margin-top: 10px;
  width: 700px;
}
/*end of navbar*/

/*image on the left*/
.img1 {
  margin: 10px;
  width: 500px;
  height: 400px;
  float: left;
}

/*greend head for the first paragraphs*/
.pHead {
  color: #00cc66;
  background-color: #282A35;
  margin-bottom: 0;
  margin-right: 20px;
  padding-bottom: 0;
  width: 250px;
}

/*the two paragraphs*/
.paragraphs {
  margin: 17px 20px;
  margin-top: 0px;
  padding: 10px 10px 1px 10px;
  width: 50%;
  height: 150px;
  background-color: #282A35;
  font-size: 18px;
  color: white;
  box-shadow: -4px 6px 25px 0px rgba(0,0,0,0.75);
  
}
/*end of the two paragraphs*/

.div1{
  background-color: #282A35;
  margin: 0px 20px;
  width: 500px;
  height: 250px;
  padding-top: 15px;
  border-style: inset;
  border-color: #282a35;
  color:#00cc66;
  border-width: 1px;
  font-size: 17px;
  font-weight: bold;
}

.div2{
  width: 250px;
  float: left;
  margin-right: 15px;
}

.div3{
  float: left;

}

#supmit{
  background-color: #339966;
  text-align: center;
  width: 80px;
  height: 50px;
  font-size: 20px;
  border-radius: 10%;

}